<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= title %></title> <!--instead of #{title} in jade, its <% title %>-->
</head>
<body>


<h1>This is <%= descriptor %> </h1> <!--need the = so it renders as text-->
<ul>
  <% templates.forEach((template) => { %> <!--have to have <% %> on each line-->
    <li>
      <%= template.name %> is <%= template.usefulness %>
    </li>
    <% }); %>
</ul>

<% include partials/footer %>
</body>
</html>
